.box-one {
   border: solid black 10px;
   width: 100vw;
   height: 30vh;
   margin: 10px;
}

.box-two {
    border: dotted black 10px;
    width: 100vw;
    height: 30vh;
    margin: 10px;
}

.box-three {
    border: solid black 10px;
    width: 50vw;
    height: 30vh;
    margin: 10px auto;
}